// header vs banner viết chung
input[type="date"] {
    padding: 10px;
    font-size: 16px;
    border: 2px solid #007BFF;
    border-radius: 5px;
    background-color: #f9f9f9;
    transition: border-color 0.3s ease;
}

input[type="date"]:focus {
    border-color: #0056b3;
    outline: none;
}

/* Chỉnh sửa kiểu dáng ngày tháng */
input[type="date"]::-webkit-calendar-picker-indicator {
    background-color: #007BFF;
    border-radius: 5px;
    padding: 5px;
    color: white;
}

.header-user {
    position: fixed;
    width: 100%;
    min-height: 40px;
    height: 60px;
    left: 0;
    top: 0;
    z-index: 999999;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0 0 0 1px rgba(51, 51, 51, 0.05), 0 10px 10px -10px rgba(51, 51, 51, 0.15), 0 2px 10px 0 rgba(51, 51, 51, 0.1);
}

.main-header-user {
    max-width: 1200px;
    margin: 0 auto;
    line-height: 40px;
}

.list-menu-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.list-menu-header ul {
    padding: 0;
    list-style-type: none;
}

.list-item-header {
    position: relative;
    display: flex;
}

.list-item-header .li-item-header,
.li-user {
    display: flex;
    padding: 10px;
    box-sizing: border-box;
    transition: all 0.3s ease;
    cursor: pointer;
}


.list-item-header .li-user:hover {
    color: tomato;
    transform: scale(1) !important;
}

.li-user .avatar-header {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 10px;
}

.li-user .avatar-header img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.list-menu-header .ul-logo li {
    font-weight: bold;
    font-size: 1.2rem;
}

.list-menu-header .ul-logo {
    display: flex;
    align-items: center;
}

.ul-logo li a {
    color: black;
    text-decoration: none;
}

.list-item-header li button {
    background-color: tomato;
    color: white;
    padding: 5px 15px;
    border-radius: 3px;
    border: none;
}


.list-item-header li a {
    text-decoration: none;
    color: black;
}

// banner
.main-banner {
    position: relative;
    margin-top: 60px;
    width: 100%;
    height: 500px;
    // overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

.main-banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main-banner .content-banner {
    position: absolute;
    // background-color: tomato;
    width: 1000px;
    height: 100%;
    z-index: 9999;
    top: 0;
    left: 14%;
    padding: 20px;
}

.content-banner .content-banner-title {
    font-size: 2rem;
    width: 49%;
    margin-top: 70px;
    color: white;
}

.content-banner p {
    width: 49%;
    margin-top: 20px;
    margin-bottom: 40px;
    color: white;
    font-size: 0.8rem;
    line-height: 25px;
}

.content-banner .box-list-inp {
    width: 666px;
    height: 100px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 15px;
    margin-left: 20%;
}



.box-list-inp .box-inp {
    position: relative;
    display: flex;
    // align-items: center;
    background-color: #EAEAEA;
    padding: 16px 20px;
    width: 45%;
    margin-right: 5px;
}

.box-inp input {
    outline: none;
    border: none;
    background-color: #EAEAEA;
    margin-left: 5px;
    // padding-right: 55px;
    font-size: 1rem;
}

.box-tour input {
    outline: none;
    border: none;
    background-color: #EAEAEA;
    margin-left: 5px;
    // padding-right: 55px;
    font-size: 1rem;
}

.box-list-inp .box-tour {
    width: 26%;
    align-items: center;
}

.box-list-inp .box-tour input {
    width: 100%;
}

.box-tour {
    display: flex;
    padding: 16px 20px;
    background-color: #EAEAEA;
    margin-right: 5px;
}

.btn-search {
    background-color: #233D2C;
    color: white;
    padding: 17px 32px;
    border: none;
    cursor: pointer;
}

.icon-inp {
    margin-right: 5px;
}

.banner-inp-listDM {
    position: absolute;
    width: 100%;
    background-color: white;
    top: 61px;
    left: 0;
    box-sizing: border-box;
    // padding: 10px;
    border-radius: 3px;
    box-shadow: 0 0 0 1px rgba(51, 51, 51, 0.05),
        0 30px 20px -20px rgba(51, 51, 51, 0.25),
        0 4px 20px 0 rgba(51, 51, 51, 0.2);
}

.banner-inp-listDM .banner-inp-itemDM {
    padding: 8px 15px;
    cursor: pointer;
     transition: all 0.4s ease;
}

.banner-inp-listDM .banner-inp-itemDM:hover {
    background-color: gainsboro;
}

.banner-inp-listDM .banner-inp-itemDM i {
    margin-right: 5px;
    color: tomato;
}

.banner-inp-listDM .banner-inp-itemDM strong {
    font-size: 0.9rem;
    font-weight: bold;
}



// phần ẩn hiện đăng xuất vs setting tài khoản
.list-item-header .li-user:hover .box-setting-logout {
    display: block;
}

.list-item-header .li-item-list-tour:hover .list-tour-detail {
    display: block;
}

.list-tour-detail {
    display: none;
    position: absolute;
    width: 175px;
    left: 0;
    min-height: 10px;
    top: 47px;
    background-color: white;
    color: black;
    font-family: Arial,
        Helvetica,
        sans-serif;
    box-sizing: border-box;
    // padding: 0 10px;
    box-shadow: 0 0 0 1px rgba(51, 51, 51, 0.05),
        0 10px 10px -10px rgba(51, 51, 51, 0.15),
        0 2px 10px 0 rgba(51, 51, 51, 0.1);
}

.box-setting-logout {
    display: none;
    position: absolute;
    width: 175px;
    right: 0px;
    min-height: 10px;
    top: 47px;
    background-color: white;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    // padding: 0 10px;
    box-shadow: 0 0 0 1px rgba(51, 51, 51, 0.05),
        0 10px 10px -10px rgba(51, 51, 51, 0.15),
        0 2px 10px 0 rgba(51, 51, 51, 0.1);

}

.box-setting-logout ul .li-box {
    text-align: left !important;
    font-size: 0.9rem;
    cursor: pointer;
    ;
    padding: 0 10px;
}

.list-tour-detail .li-box {
    text-align: left !important;
    font-size: 0.9rem;
    cursor: pointer;
    ;
    padding: 0 10px;
}

.list-tour-detail .li-box:hover {
    background-color: #f3f3f3;
}

.box-setting-logout ul .li-box:hover {
    background-color: #f3f3f3;
}

.li-box+.li-box {
    border-top: 1px solid #e5e5e5;
}

.li-box-logout a {
    text-decoration: none;
    color: red;
}


.slider {
    width: 100%;
    height: 500px;
    position: relative;
    overflow: hidden;

}

.slides {
    display: flex;
    width: 100%;
    height: 100%;
    transition: transform 0.6s ease;
    // animation: slide 20s linear infinite;
    /* Thêm transition để chuyển mượt */
}

.slide {
    min-width: 100%;
    /* Mỗi slide chiếm toàn bộ khung */
    height: 100%;
    background-size: cover;
    background-position: center;
}

.slide.active {
    opacity: 1;
}

/* Navigation manual */
.navigation-manual {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    bottom: 10px;
}

.manual-btn {
    border: 2px solid #40D3DC;
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.5s;
    margin: 0 5px;
    background-color: transparent;
}

.manual-btn.active {
    background-color: #40D3DC;
}